.app{
  overflow: hidden;
  min-height: 100vh;
}

.hide{
  display: none;
}

.fade-enter {
  opacity: 0;
  position: absolute !important;
  z-index: 2 !important;
}
.fade-enter-active {
  opacity: 1;
  position: absolute !important;
  transition: all 350ms ease-in;
  z-index: 2 !important;
}
.fade-exit {
  opacity: 1;
  position: absolute !important;
  z-index: -1 !important;
}
.fade-exit-active {
  opacity: 0;
  position: absolute !important;
  z-index: -1 !important;
  transition: all 200ms linear;
}
